# yaml-language-server: $schema=https://raw.githubusercontent.com/nwithan8/plex-prerolls/main/.schema/config.schema.json

# All keys must be in lowercase
# All paths will be case-sensitive based on your environment (Linux, Windows)

plex:
  url: http://localhost:32400 # URL to your Plex server
  token: thisismyplextoken # Your Plex token

# Always include these pre-rolls
always:
  enabled: true
  paths:
    - "remote/path/to/video1.mp4"
    - "remote/path/to/video2.mp4"
    - "remote/path/to/video3.mp4"
  path_globbing:
      enabled: false # If true, use globbing to match paths
      pairs:
        - root_path: /files # The root folder to use for globbing
          plex_path: /path/to/prerolls/in/plex # The path to use for the Plex server
          patterns:
            - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
            - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing
        - root_path: /other/files # The root folder to use for globbing
          plex_path: /path/to/other/prerolls/in/plex # The path to use for the Plex server
          patterns:
            - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
            - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing

  count: 10 # Optional, randomly select X many videos from the list rather than all of them
  weight: 1 # Optional, how much to emphasize these pre-rolls over others (higher = more likely to play)

# Schedule prerolls by date and time frames
date_range:
  enabled: true
  ranges:
    - name: "New Years" # Optional name for logging purposes
      start_date: 2020-01-01 # Jan 1st, 2020
      end_date: 2020-01-02 # Jan 2nd, 2020
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"
      path_globbing:
            enabled: false # If true, use globbing to match paths
            pairs:
              - root_path: /files # The root folder to use for globbing
                plex_path: /path/to/prerolls/in/plex # The path to use for the Plex server
                patterns:
                  - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
                  - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing
              - root_path: /other/files # The root folder to use for globbing
                plex_path: /path/to/other/prerolls/in/plex # The path to use for the Plex server
                patterns:
                  - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
                  - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing
      weight: 2 # Optional, add these paths to the list twice (make up greater percentage of prerolls - more likely to be selected)
      disable_always: true # Optional, if present and true, disable the always prerolls when this schedule is active
    - start_date: xxxx-07-04 # Every year on July 4th
      end_date: xxxx-07-04 # Every year on July 4th
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"
      disable_always: false
    - start_date: xxxx-xx-02 # Every year on the 2nd of every month
      end_date: xxxx-xx-03 # Every year on the 3rd of every month
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"
    - start_date: xxxx-xx-xx 08:00:00 # Every day at 8am
      end_date: xxxx-xx-xx 09:30:00 # Every day at 9:30am
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"

# Schedule prerolls by week of the year
weekly:
  enabled: false
  weeks:
    - number: 1 # First week of the year
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"
      path_globbing:
            enabled: false # If true, use globbing to match paths
            pairs:
              - root_path: /files # The root folder to use for globbing
                plex_path: /path/to/prerolls/in/plex # The path to use for the Plex server
                patterns:
                  - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
                  - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing
              - root_path: /other/files # The root folder to use for globbing
                plex_path: /path/to/other/prerolls/in/plex # The path to use for the Plex server
                patterns:
                  - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
                  - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing
      weight: 1 # Optional, how much to emphasize these pre-rolls over others (higher = more likely to play)
    - number: 2 # Second week of the year
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"
      disable_always: true # If true, disable the always prerolls when this schedule is active

# Schedule prerolls by month of the year
monthly:
  enabled: false
  months:
    - number: 1 # January
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"
      weight: 1 # Optional, how much to emphasize these pre-rolls over others (higher = more likely to play)
    - number: 2 # February
      paths:
        - "remote/path/to/video1.mp4"
        - "remote/path/to/video2.mp4"
        - "remote/path/to/video3.mp4"
      path_globbing:
            enabled: false # If true, use globbing to match paths
            pairs:
              - root_path: /files # The root folder to use for globbing
                plex_path: /path/to/prerolls/in/plex # The path to use for the Plex server
                patterns:
                  - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
                  - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing
              - root_path: /other/files # The root folder to use for globbing
                plex_path: /path/to/other/prerolls/in/plex # The path to use for the Plex server
                patterns:
                  - "local/path/to/prerolls/*.mp4" # The pattern to use for globbing
                  - "local/path/to/prerolls/*.mkv" # The pattern to use for globbing
      disable_always: false # If true, disable the always prerolls when this schedule is active

advanced:
  auto_generation:
    plex_path: /path/to/auto-generated/prerolls/in/plex # The path for the Plex Media Server to use to access auto-generated prerolls
    recently_added:
      # If enabled, auto-generate prerolls for recently added items and add them as an always-on choice (files will be uploaded to the "Preroll Auto-Generated/Recently Added" folder)
      enabled: true # If enabled, auto-generate prerolls for recently added items and add them to the "always" list
      count: 2 # The number of most-recently added items to use for auto-generation



